body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
	display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.recession {
	stroke: none;
}

.btn-secondary {
	border: 1px solid #cccccc;
}

.counties {
  fill: white;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.ficircle {
  stroke: #fd9726;
  stroke-width: 2px;
}