body {
  font: 10px sans-serif;
}

#vis-container {
  position: relative;
  width: 980px;
  height: 700px;
  margin-top: 10px;
}

#vis-nav {
  z-index: 20;
}

#sections {
  position: relative;
  display: inline-block;
  width: 300px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 200px;
}

#vis-canvas {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  padding: 20px;

  height: 600px;
  width: 800px;
/*  background-color: #ddd;*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
	display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.recession {
	stroke: none;
}

.btn-secondary {
	border: 1px solid #cccccc;
}

.counties {
  fill: white;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.ficircle {
  stroke: #fd9726;
  stroke-width: 2px;
}