body {
  font-family: 'Noto Sans', sans-serif;
  background: #111;
  color: #eee;
}

h1 {
  font-family: 'PT Mono', monospace;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 20px;
}

#container {
  margin: auto;
  padding-top: 20px;
  width: 980px;
}

/* Basic styling for the step links */
a.nav-button {
  padding: 7px;
  border: 2px solid #888;
  border-radius: 5px;
  color: #888;
  text-decoration: none;
}

a.nav-button:hover {
  background: #ccc;
  color: #111111;
}

a.active {
  color: #ddd;
  border-color: #ddd;
}

a.disabled {
    pointer-events: none;
}

.btn-secondary {
  border: 1px solid #cccccc;
}

#vis-container {
  position: relative;
  width: 980px;
  height: 650px;
  margin-top: 10px;
  padding-top: 15px;
}

#annotation-steps {
  position: absolute;
  z-index: 40;
}

#vis-nav {
  z-index: 20;
  margin-left: 800px;
}

#vis-canvas {
  position: absolute;
  z-index: 10;
  margin-left: 400px;
/*  width: 100%;*/
  height: 100%;
  overflow: hidden;
}

.annotation-title {
  left: 30px;
  width: 300px;
}

.annotation-step {
  position: absolute;
  display: none;
}

.annotation {
  position: absolute;
  width: 300px;
}

.axis path,
.axis line, {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.x.axis > .tick > line {
  stroke: #eee;
}

.x.axis > path {
  fill: none;
}

text {
  fill: #eee;
  font-size: 12px;
}

.y.axis path {
	display: none;
}

.line {
  fill: none;
  stroke: #1996FF;
  stroke-width: 3px;
}

.recession {
	stroke: none;
}

.counties {
  fill: #eee;
}

.states {
  fill: none;
  stroke: #eee;
  stroke-linejoin: round;
}

.ficircle {
  stroke: #fd8704;
  stroke-width: 3px;
}